{% if proj_id %}
  <a href="https://dashboard.smartling.com/projects/{{ proj_id }}/files/files.htm#icon/type/all/search/{{ file_name }}" target="_blank" title="Open {{ file_name }} in Smartling"> Dashboard </a>
{% endif %}